@charset "utf-8";
/* CSS Document */

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.body {
    margin-bottom: 2vh;
}

#keys, #text_fields {
    display: flex;
    flex-direction: row;
}

.button {
    transition: all .2s !important;
}

#public_key_field, #private_key_field,
#plain_text_field, #encrypted_text_field,
#existing_public_key_field, #options_field {
    margin: 5px;
}

#buttons {
    margin-top: 2vh;
    text-align: center;
}

@media all and (min-width: 1600px) {
    .body {
        margin-bottom: 10vh;
    }
}

@media all and (max-width: 640px) {
    #keys, #text_fields {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) and (max-height: 720px) {
    .body {
        margin-bottom: 10vh;
        height: 75vh;
        width: 95vw;
    }
}