@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.body {
    margin-bottom: 5vh;
}

#keys {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#public_key_field,#private_key_field, #algorithm_information {
    margin: 5px;
}

.button {
	transition: all .2s !important;
}

#buttons {
    margin-top: 3vh;
    text-align: center;
}

@media all and (min-width: 1600px) {
    .body {
        margin-bottom: 35vh;
    }

    #keys {
        flex-direction: row;
    }
}

@media all and (max-height: 768px) and (min-width: 720px) {
    #keys {
        flex-direction: row;
    }
}