@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.body {
    margin-bottom: 5vh;
}

#keys {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#public_key_field,#private_key_field, #algorithm_information {
    margin: 5px;
}

textarea {
    font-family: "Lucida Console", Consolas, sans-serif !important;
}

.button {
	transition: all .2s !important;
}

#buttons {
    margin-top: 3vh;
    text-align: center;
}

@media all and (min-width: 1600px) {
    .body {
        margin-bottom: 15vh;
    }

    #keys {
        flex-direction: row;
    }
}

@media all and (max-height: 768px) and (min-width: 720px) {
    .body {
        margin-bottom: 5vh;
        height: 35vh;
    }

    #keys {
        flex-direction: row;
    }
}

@media all and (max-width: 400px) and (max-height: 720px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .body {
        margin-bottom: 10vh;
        height: 25vh;
        width: 95vw;
    }
}