@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
    width: auto;
    font-size: 1rem;
}

.main-section {
    display: block;
    background-color: #fff;
    padding: 20px 40px;
}

.error-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: space-around;
    margin-bottom: 40px;
}

.error-header #error_face {
    order: 1;
    font-size: 6rem;
    align-self: center;
    margin-bottom: 20px;
}

.error-header #error_code {
    order: 2;
    font-size: 4rem;
    align-self: center;
    color: #f57c00;
}

.error-body {
    display: block;
    text-align: center;
}

.error-body a {
    color: #f57c00;
    font-weight: 500;
    transition: all .3s;
}

.error-body a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #bf360c;
}