@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.body {
    text-align: center;
    margin-bottom: 10vh;
}

#symmetric_gen, #symmetric_enc, #symmetric_dec, #asymmetric_gen,
#asymmetric_enc, #asymmetric_dec, #hashing, #encoding, #decoding {
    transition: all .2s !important;
    margin: 5px 5px;
}

#symmetric_gen:hover, #asymmetric_gen:hover {
    background-color: #21BA45 !important;
    color: #000000 !important;
}

#symmetric_enc:hover, #asymmetric_enc:hover {
    background-color: #2185D0 !important;
    color: #000000 !important;
}

#symmetric_dec:hover, #asymmetric_dec:hover {
    background-color: #D01919 !important;
    color: #ffffff !important;
}

#hashing:hover {
    background-color: #00B5AD !important;
    color: #000000 !important;
}

#encoding:hover {
    background-color: #F2711C !important;
    color: #000000 !important;
}

#decoding:hover {
    background-color: #D01919 !important;
    color: #ffffff !important;
}

@media all and (min-width: 1600px) {
    .body {
        margin-bottom: 35vh;
    }
}

@media all and (max-height: 768px) and (min-width: 720px) {
    .body {
        margin-bottom: 5vh;
        height: 60vh;
    }
}

@media all and (max-width: 400px) and (max-height: 720px) {
    .body {
        margin-bottom: 5vh;
        height: 65vh;
        width: 95vw;
    }
}