@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.body {
    text-align: center;
    margin-bottom: 10vh;
}

#symmetric_gen, #symmetric_enc_dec, #asymmetric_gen,
#asymmetric_enc_dec, #hashing, #encoding {
    transition: all .2s !important;
    margin: 5px 5px;
}

#symmetric_gen:hover, #asymmetric_gen:hover {
    background-color: #21BA45 !important;
    color: #000000 !important;
}

#symmetric_enc_dec:hover, #asymmetric_enc_dec:hover {
    background-color: #2185D0 !important;
    color: #000000 !important;
}

#hashing:hover {
    background-color: #00B5AD !important;
    color: #000000 !important;
}

#encoding:hover {
    background-color: #F2711C !important;
    color: #000000 !important;
}

@media all and (min-width: 1600px) {
    .body {
        margin-bottom: 30vh;
    }
}