@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.body {
    margin-bottom: 5vh;
}

#buttons {
    margin-top: 3vh;
    text-align: center;
}

#input_error, #key_error {
    color: #D01919;
}

textarea, input {
    font-family: "Lucida Console", Consolas, sans-serif !important;
}

.button {
    transition: all .2s !important;
}

@media all and (min-width: 1600px) {
    .body {
        margin-bottom: 25vh;
    }
}

@media all and (max-height: 768px) and (min-width: 720px) {
    .body {
        margin-bottom: 5vh;
        height: 40vh;
    }
}

@media all and (max-width: 400px) and (max-height: 720px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .body {
        margin-bottom: 2vh;
        height: 35vh;
        width: 95vw;
    }
}